*.class

*.json

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
ligo.sublime-project
ligo.sublime-workspace
src/org/ptodd/wumpus/wumpus.sublime-project
src/org/ptodd/wumpus/wumpus.sublime-workspace
